* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.header  {
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav {
    width: 600%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 80px;
    margin: 20px
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}