:root{
    --cor-primaria: #69450D;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #f8da60;
    --cor-terciaria-sombra: #000000;
}

body{
    background-color: var(--cor-secundaria);
    margin: 0;
 
header{
    background-color: var(--cor-terciaria);
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
}
main{
    background-color: var(--cor-secundaria);
    padding: 70px 0px;
}
footer{
    background-color: var(--cor-terciaria);
    width: 100vw;
    height: 35px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
}

.cabecalho{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    gap: 30px;
    margin-right: 30px;
    font-size: 20px;    
}

.rodape{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0px 20px;
}

#sobre-mim{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.texto{
    padding: 20px;
    background-color: var(--cor-terciaria);
}

.texto, #minha-foto{
    border: 1px solid black;
    border-radius: 30px;

    box-shadow: 10px 10px 10px  var(--cor-terciaria-sombra); 
}

.itens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.item{
    border: 2px solid black;
    width: 300px;
    height: 300px;
    background-color: var(--cor-terciaria);
    border-radius: 30px;
    padding: 30px;
    box-shadow: 10px 10px 10px var(--cor-terciaria-sombra);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-img{
    max-width: 100%;
    max-height: 100%;
}

.formulario{
    display: flex;
    justify-content: center;
}

input{
    width: 100px;
    height: 30px;
}

textarea{
    resize: none;
    width: 240px;
    height: 100px;
}