:root{
    --cor-primaria: aquamarine;
    --cor-secundaria: purple;
    --cor-efeito; pink;
}
*{

    padding: 0;
    margin: 0;
 
}
    
    ;body{
    background-color: purple
    color: aqua;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: column;
    align-items: center;
    justify-content: ;


}